name: Release Golang executable on tag

on:
  push:
    tags:
    - "v[0-9]+.[0-9]+.[0-9]+"

jobs:
  release-prerequisites:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    outputs:
      RELEASE_BODY: ${{ steps.release-prerequisites.outputs.RELEASE_BODY }}
    steps:
      - id: release-prerequisites
        uses: thetillhoff/action-release-prerequisites@2798dc58246a51ae1e38f8ecc114d4048e37b0fb # v0.2.0

  golang-build:
    needs: release-prerequisites
    runs-on: ubuntu-latest
    permissions:
      contents: write
    strategy:
      matrix:
        os:
          - linux
          - windows
          - darwin
        arch:
          - amd64
    steps:
      - uses: thetillhoff/action-golang-build@cb6b769961c656030876b3a7aef26daac6f695a4 # v0.2.0
        with:
          OS: "${{ matrix.os }}"
          ARCH: "${{ matrix.arch }}"
          BUILDARGS: -ldflags="-X 'github.com/thetillhoff/temingo/cmd.version=${{ github.ref_name }}'"

  release-artifacts:
    needs:
      - golang-build
      - release-prerequisites
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: thetillhoff/action-release-artifacts@3f6c6d7d194966344351e8efac5d14f12a283100 # v0.3.0
        with:
          RELEASE_BODY: "${{needs.release-prerequisites.outputs.RELEASE_BODY}}"
